<h1 class="text-5xl font-extrabold">Hi, <%= current_user.username %><h1>
<div data-controller="room-list">
  <div>
    <h2 class="text-4xl font-extrabold">Users<h2>
    <ul data-room-list-target="privateList">
      <%= render @users %>
    </ul>
  </div>
  <div>
    <h2 class="text-4xl font-extrabold">Rooms<h2>

    <%= render 'form' %>

    <ul data-room-list-target="publicList">
      <%= render @rooms %>
    </ul>
  </div>
</div>
