<div id="modal" class="room">
  <h2 class="text-center text-white font-extrabold"><%= @user.username || @room.title %></h2>
  <div data-controller="messages">
    <div data-messages-target="messages" class="overflow-auto max-h-[40vh]">
      <%= render @room.messages %>
    </div>

    <%= render 'messages/form' %>
  </div>
</div>
